.bemvindo{
    padding-top: 12px;
    font-size: 15px;
    padding-right: 90px;
}
.navegar{
    padding-top: 25px !important;
}
.conteudo{
    margin-top: 40px; 
    width: 900px;
    height: 440px;
    border: 1px solid #939191;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logonav {
    border-right: 2px solid green;
}
.logo{
    height: 80px;
}
.saida{
    padding-right: 20px;
    color: black;
}
.item1{
    padding-top: 30px !important;
    color: black !important;
    font-weight: bold !important;
}
.item2{
    padding-top: 30px !important;
    color: black !important;
    font-weight: bold !important;
}
.item3{
    padding-top: 30px !important;
    color: black !important;
    font-weight: bold !important;
}